.footer{
    background-color: #05274b;
    height: 100px;
    text-align: center;

    .container{
     .footer-text{
        padding: 20px 0;
        p{
            color: white;
        }

        .fa-solid{
            color: red;
        }
        .by{
            color: #095db6;
        }
     }
    }
}