.container{
    .slider{
        margin-top: 100px;
        
       .sliders-text{
        margin-bottom: 50px;
        p {
            color: gray;
          }
  
          h1 {
            font-family: "Oswald", sans-serif;
            font-size: 36px;
          }
          .xett {
            width: 100px;
            border-top: 2px solid #384aeb;
            margin-left: 50px;
          }
       }

       .sliders-card{
        text-align: center;
       .slider-img{

       }
       }
    }

} 